$base-font: 'Inter';
$primary-color: #EE2A2A;
$primary: #EE2A2A;
$primary-color-light: #f14e4e;
$secondary-color: #989898;
$body-color: #000000;
$bg-default: #8B8B8B;
$default-color: #cecece !default;
$default-border-color: #e3e3e3 !default;
$btn-border-radius: 24px;
$blue:    #004F9F !default;
$base-font-size: 16px;
$success-color: #4db04f !default;
$warning-color: #ff9800 !default;
$nav-link-padding-x: rem(20px);
$table-border:1px solid #8b8b8b;
$table-border-radius: 10px;
$table-content-color: #404040;
$success: #44BA10;

$input-font-size: 14px;
$input-label-color: #404040 !default;
$input-text-color: #4f4f4f;
$input-label-zindex: 2;
$input-label-font-weight: 500;
$base-input-padding: 12px 15px;
$checkbox-bg: #dcdcdc;
$danger-color: #de090b !default;
$base-grey: #F0F3F4;
$input-stroke-color: #cbc7c7;
$input-focus-color: #9d9d9d;
$default-border-radius: 10px !default;

$error-color: #de090b;
$success-color-dark: rgb(7, 241, 7);
$white-base: #ffffff;
$base-text-color: #151515;
$secondary-text-color: #ADB0B3; //grey text color or grey icon color

$green-light: #44BA10;
$orange-light:#F89239;
$red-scroll:#EE2A2A;
$light-black: #4D4D4D;
$green-dark:#1FCB23;
$grey-light:#F7F7F7;
$dark-gray:#939393;