
@font-face {
    font-family: "Inter";
    src: fontPath("Inter-ExtraBold.ttf", font) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: fontPath("Inter-Black.ttf", font) format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: fontPath("Inter-Bold.ttf", font) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: fontPath('Inter-ExtraLight.ttf', font) format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: fontPath("Inter-Light.ttf", font) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: fontPath("Inter-Medium.ttf",  font) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: fontPath("Inter-Regular.ttf", font) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: fontPath("Inter-Thin.ttf", font) format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: fontPath("Inter-SemiBold.ttf", font) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  